{% extends "basic.html" %}

{% block body %}
<div style="width: 260px; margin: auto;">
<form method="get">
    <input type="text" name="zahl" />
    <button type="submit">bestätigen</button>

</form>
</div>
<div class="textCenter2">
    <div>
    {% if zahl != 0 and zahl != glueckszahl %}

    <p>Leider Falsch</p>
     <p>Ihre gewählte Zahl: {{ zahl }}</p>
    <p>Die Zufallszahl ist: {{ glueckszahl }}</p>
    {% endif %}
    </div>
    <div class="textBlue">
 {% if zahl == glueckszahl %}
    <p>Sie haben gewonnen</p>
     <p>Ihre gewählte Zahl: {{ zahl }}</p>
    <p>Die Zufallszahl ist: {{ glueckszahl }}</p>
    <a href="Dateneingabe">Gewinn abholen</a>
    {% endif %}
     </div>
</div>

{% endblock %}